%p#notice= notice

%p
  %b
    = @feature.name
  %br
    .runFeature#run_feature
      Run This Feature
%b
  Scenarios  
%table{class: "table"}
  %tr
    %th 
    %th Name
    %th 
  - @feature.scenarios.each do |scenario|
    %tr
      %td
      %td= scenario.name
      %td= link_to 'view', scenario

#data_modal.modal.fade{tabindex: "-1", role: "dialog", "aria-hidden" => "true", "aria-labelledby" => "modalTile"}
  .modal-dialog
    .modal-content.modal-lg
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} X
        %h3#modalTile.modal-title Running Feature
      .modal-body
        %div#data
          -# =image_tag "loading.gif"
      .modal-footer
        %button.btn{"data-dismiss" => "modal", :type => "button"} Close